%p
    %b Address:
    = @ip.address
%p
    %b Name:
    = @ip.name
%p
    %b Description:
    = @ip.description
%p
    :markdown
        **Point of Contact:** [#{h @ip.user.name}](mailto:#{h @ip.user.email})

= link_to_if can?(:update, @ip), 'Edit', edit_ip_path(@ip)
\|
= link_to 'Back', ips_path
